@import 'rupture/*'
@import 'helper/*'
@import 'fonts/*'
@import 'grid/*'

//global styles
body
	direction rtl

b,
strong
	font-weight bold

a
	tr(.3s)

img
	vertical-align top

.aligncenter
	text-align center

@import 'blocks/*'

// z-index table
//.header 2000 (for size-tablet)
// .topline-mobile 2000
// .main-nav 1000 (for size-tablet)


