@import 'rupture/*'
@import 'helper/*'
@import 'fonts/*'
@import 'grid/*'

// setup html root font-size for rem units
html
	font-size 10px

//gloabal styles
body
	direction rtl

h1,
h2,
h3
	font-size 30px

h4
	font-size 25px

h5,
h6
	font-size 16px
	line-height 1.2

p
	font-size 16px
	line-height 1.2

b,
strong
	font-weight bold

a
	tr(.3s)

img
	vertical-align top

.owl-carousel
	direction ltr

@import 'blocks/*'

// z-index table
//.sub-menu 1000
//.page-search__search-wrap 1000
//.advertiser-header__img-modal 1000
//.call-btn 1
//.modal-contact 1000
//.popup-slider 2000


