@import 'rupture/*'
@import 'helper/*'
@import 'fonts/*'
@import 'grid/*'

//global styles
body
	direction rtl

b,
strong
	font-weight bold

a
	tr(.3s)
	color inherit

img
	vertical-align top
	
sup
	font-size 0.6em
	line-height 0.8em
	vertical-align top

.aligncenter
	text-align center

@import 'blocks/*'

// z-index table
//.header 2000 (for size-tablet)
// .topline-mobile 2000
// .main-nav 100 (desktop) 1000 (for size-tablet)
//.main__bg 1
//.main__wrap 2
//.home-product 10
//.home-things 1
//.home-women-think 1
//.footer 2


