.accident
	color black
	
	&__top
		text-align center
		background url(images/happen_top.png) no-repeat
		-webkit-background-size 100% auto
		-moz-background-size 100% auto
		-o-background-size 100% auto
		background-size 100% auto
		
		img
			display inline-block
			
		p
			padding-x(17px)
			font-size 28px
			line-height 34px
			text-align right
	
	&__body
		padding-left 7px		

	&__body-wrap
		padding-top 5px
		background url(images/happen_back.png) repeat-y
		-webkit-background-size 100% auto
		-moz-background-size 100% auto
		-o-background-size 100% auto
		background-size 100% auto
		
		p
			padding-x(17px) 
			font-size 16px 
			line-height 28px
			
			span
				padding 3px 10px 4px
				color white 
				font-size 16px
				line-height 16px 
				font-weight bold
				background #458889
			
		img
			position relative
			right 10px
			width 100%
			