.header-link
	float left
	display block
	margin-left 15px
	padding-top 6px
	padding-x(15px)
	padding-bottom 11px 
	color white
	font-size 10px
	line-height 16px
	background brand
	text-decoration none
	text-transform uppercase 
	-webkit-border-bottom-right-radius 7px 
	-webkit-border-bottom-left-radius 7px 
	-moz-border-radius-bottomright 7px 
	-moz-border-radius-bottomleft 7px
	-o-border-bottom-right-radius 7px 
	-o-border-bottom-left-radius 7px  
	border-bottom-right-radius 7px 
	border-bottom-left-radius 7px
	
	+below(size-tablet)
		display none
	