.header
	width 100%
	background white
	
	+below(size-tablet)
		z-index 2000
		position fixed
		top 0
		left 0
		right 0
		height 50px
		border-bottom 2px solid brand
	
	&__link-wrap
		clearfix()
		
	&__logo
		margin-y(10px)
		text-align center
		
		+below(size-tablet)
			margin 0
			padding-y(5px)