.home
	
	+below(size-large)
		display none
	
	&__header
		padding-top 60px
		text-align center
		
	&__title
		color white
		font-size 36px 
		line-height 48px
		text-transform uppercase
		
	&__header-separator
		display block
		margin-top 10px
		margin-x(auto)
		margin-bottom 28px
		
	&__subtitle-wrap
		position relative
		display inline-block
		max-width 100%
		padding-x(34px)
		
		&:before
			content ''
			position absolute
			top 0
			left 0
			display block
			height 39px
			width 34px
			background url(images/undertitle_backleft.png) no-repeat
			
		&:after
			content ''
			position absolute
			top 0
			left auto
			right 0
			display block
			height 39px
			width 34px
			background url(images/undertitle_backright.png) no-repeat
			
		
	&__subtitle
		color white
		font-size 16px
		line-height 39px
		background #4d235a
		single-line()
		text-transform uppercase
		
	&__header-bg-img
		padding-left 51px
		margin-top -80px
		
	&__header-text
		max-width 260px
		margin-x(auto)
		padding-top 5px
		padding-x(10px)
		color white
		font-size 16px
		line-height 30px
		

	&__body
		position relative
		margin-top -55px
		margin-bottom 54px
		
	&__body-bg
		width 100%