.home-mobile
	display none
	padding 15px 5%
	
	+below(size-large)
		display block
	
	&__header
		margin-bottom 20px
		text-align center
	
	&__title
		margin-bottom 15px
		color white
		font-size 24px
		line-height 30px
		text-transform uppercase
		
	&__header-img
		margin-bottom 20px
		max-width 100%
		
	&__subtitle
		padding-y(15px)
		color white
		font-size 16px
		line-height 22px
		text-transform uppercase
		border-top 1px solid white
		border-bottom 1px solid white
		
	&__product
		margin-bottom 20px
		text-align center
		
	&__product-wrap
		display block
		padding 15px 5%
		color white
		text-decoration none
		background #AE9BB4
		
		h3
			font-size 22px
			
		img
			width 50%
			
		p
			font-size 16px
			line-height 24px
			
	&__accident
		margin-bottom 20px
		text-align center
		
	&__accident-wrap
		display block
		text-decoration none
		
		img
			width 90%
			
	&__accident-content
		display block
		padding 15px 5%
		color white
		background #458889
		
		h3
			font-size 22px
			line-height 30px
			
		p
			padding-top 5px
			font-size 16px
			line-height 24px
			
			span
				font-weight bold
				
	&__things
		margin-bottom 20px
		text-align center
		
	&__things-wrap
		display block
		padding 15px 5% 0
		color black
		text-decoration none
		background #D4D4D4
		
		h3
			font-size 22px
			line-height 30px
			
		p
			padding-top 5px
			font-size 16px
			line-height 24px
			
		img
			width 100%
			
	&__think
		margin-bottom 20px
		text-align right
		
	&__think-wrap
		display block
		color white
		text-decoration none
		background #B33E8F
		
	&__think-img
		width 100%
		
	&__think-content
		padding 15px 5%
		