.jargon
	
	&__header
		margin-left -10px
		margin-right -11px
		height 51px
		background-image url(images/jargon_buster_top.png)
		background-size 100% 100%
		
	&__body
		padding-left 40px
		padding-right 33px
		background white
		
	&__title
		padding 0 0 10px 0
		color black 
		font-size 28px
		line-height 30px
		border-bottom 1px dashed grey
		
	&__info
		padding 10px 0 0 0 
		color #b33e8f 
		font-size 16px 
		line-height 24px
		
	&__footer
		height 14px
		background-image url(images/jargon_buster_bottom.png)
		bg-image()