.jargon
	
	&__header
		margin-left -10px
		margin-right -11px
		height 51px
		background-image url(images/jargon_buster_top.png)
		background-size 100% 100%
		
	&__body
		padding-left 30px
		padding-right 23px
		background white
		
	&__title
		padding 0 0 10px 0
		color black 
		font-size 28px
		line-height 30px
		border-bottom 1px dashed grey
		
	&__info
		padding 10px 0 0 0 
		color #b33e8f 
		font-size 16px 
		line-height 24px
		
		&_alt
			color black
		
	&__list
		padding-y(20px)
		margin-right 24px
		list-style-image url(images/puce.jpg)
		
	&__img-link
		display inline-block
		
		img
			width 100%
		
	&__footer
		height 14px
		background-image url(images/jargon_buster_bottom.png)
		bg-image()