.link-item
	display block
	text-decoration none
	background url(images/links_back.png)
	
	&__wrap
		min-height 128px
		padding-top 25px
		padding-bottom 10px
		background url(images/links_chaine.png) 0 0 no-repeat
		
	&__text
		margin-bottom 17px
		padding-right 20px
		padding-left 50px
		color white
		font-size 24px 
		line-height 29px 
		font-style italic
		
	&__icon
		padding-x(18px)
		font-family font-icon
		color #4b1f59  
		font-size 38px 
		line-height 38px 