.menu
	display block
	text-align center
	
	+below(size-tablet)
		width 85%
		text-align right
	
	> li
		position relative 
		display inline-block 
		padding-top 25px
		padding-bottom 30px
		font-size 12px 
		line-height 16px 
		width 13% 
		vertical-align top
		
		+below(size-tablet)
			display block
			width 100%
			padding 0
			color white
			font-size 16px
			line-height 35px
			background brand
			border-top 1px solid #7F7F7F
		
		&:hover
			color brand-3
			
		&:nth-child(5)
			&:hover
				color brand-2
		
		> a
			color inherit
			text-decoration none
			
			+below(size-tablet)
				display block
				padding-x(5%)
			
			> span
				display block
				font-size 24px
				font-family font-icon
				line-height 50px
				
				+below(size-tablet)
					display none
				
	li.active
		color brand-3
		
		+below(size-tablet)
			color white
		
		&:nth-child(5)
			color brand-2
			
			+below(size-tablet)
				color white
		
				
.sub-menu
	z-index 2 
	display none 
	position absolute 
	margin 30px 0 
	background white 
	width 100%  
	-webkit-border-bottom-right-radius 7px 
	-webkit-border-bottom-left-radius 7px 
	-moz-border-radius-bottomright 7px 
	-moz-border-radius-bottomleft 7px
	-o-border-bottom-right-radius 7px 
	-o-border-bottom-left-radius 7px 
	border-bottom-right-radius 7px 
	border-bottom-left-radius 7px
	-moz-box-shadow 0px 4px 7px -1px #656565
	-webkit-box-shadow 0px 4px 7px -1px #656565
	-o-box-shadow 0px 4px 7px -1px #656565
	box-shadow 0px 4px 7px -1px #656565
	filter: unquote('"progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=7)"')
	
	+below(size-tablet)
		display block !important
		position static
		margin 0
		-webkit-border-bottom-right-radius 0
		-webkit-border-bottom-left-radius 0 
		-moz-border-radius-bottomright 0 
		-moz-border-radius-bottomleft 0
		-o-border-bottom-right-radius 0 
		-o-border-bottom-left-radius 0 
		border-bottom-right-radius 0 
		border-bottom-left-radius 0
	
	> li
		position relative
		width 90% 
		color black 
		padding 0 
		margin 5px 5% 
		font-size 12px
		line-height 30px
		text-align right 
		-webkit-border-radius 7px 
		-moz-border-radius 7px
		-o-border-radius 7px  
		border-radius 7px 
		cursor pointer
		
		+below(size-tablet)
			width 100% 
			margin 0
			padding-right 5%
			font-size 16px
			line-height 35px
			border-top 1px solid #7f7f7f
			-webkit-border-radius 0
			-moz-border-radius 0
			-o-border-radius 0  
			border-radius 0
			
			&:first-child
				border-top 0 
		
		&:hover
			color white
			background brand-3
			
		> a
			display block
			width 90% 
			padding 0 5% 
			color inherit
			text-decoration none
			tr(0s)
			
			+below(size-tablet)
				width 100%
			
	> li.active
		color white
		background brand-3
		
		+below(size-tablet)
			color black
			