.ordered-list
	margin-top 15px
	margin-bottom 35px
	
	> li
		clearfix()
		color #552963
		padding 10px 0
		font-size 18px
		line-height 28px
		border-top dashed 1px #ad9db1
		
		&:nth-child(2n)
			color brand-2
			
		> span
			float right
			display block
			width 10%
			font-size 30px
			font-family font-special
			text-align center
						
		> div
			float right
			width 90%
			