.page-content
	margin-top 25px
	padding-x(25px)
	
	+below(size-tablet)
		margin-top 15px
		padding-top 10px
		padding-x(5%)
		background white
	
	&__title
		margin-y(15px)
		color #800080
		font-size 18px
		font-weight bold
		
	&__info
		margin-y(15px)
		font-size 16px
		font-family font-icon
		
	&__info-link
		display inline-block
		color main
		
	&__info-img
		display block
		max-width 100%