.page-header
	padding-top 35px
	
	+below(size-tablet)
		padding-top 5px
	
	&__wrap
		max-width 610px
		padding 35px 40px 30px 75px
		background url(images/back_title.png) no-repeat
		
		+below(size-tablet)
			max-width 100%
			padding 10px 5%
			background white
	
	&__title
		overflow hidden
		max-height 150px
		font-size 24px
		line-height 30px
