.page-content
	margin-top 25px
	padding-x(25px)

	
	+below(size-tablet)
		margin-top 15px
		padding-top 10px
		padding-bottom 10px
		padding-x(5%)
		background white
	
	&__title
		margin-y(15px)
		color #800080
		font-size 18px
		font-weight bold
		
	&__info
		margin-y(15px)
		font-size 16px
		
		a
			display inline-block
			max-width 100%
			color main
			font-weight bold
			
		img
			display inline-block
			max-width 100%
			
	&__list
		list-style-image url('images/puce.jpg')
		margin-right 21px
		
		li
			margin-y(35px)