.reminder
	color black
	
	&__header
		margin-right -7px
		
		img
			width 100%
	
	&__body
		padding-left 11px

	&__body-wrap
		padding-x(20px)
		padding-bottom 34px
		background white url(images/related_retro_scotch.png)
		
	&__title
		font-size 24px 
		line-height 30px
		
	&__info
		margin-top 10px
		padding 27px 0
		font-size 16px 
		line-height 29px  
		border-top 5px solid #c1d4d5 
		border-bottom 5px solid #c1d4d5 
		