.table
	width 100%
	margin-y(30px)
	background white
	border 1px solid white
	border-bottom dashed 1px #65486d
	
	td
		padding 30px 10px
		font-size 12px
		line-height 18px
		vertical-align top
		border dashed 1px #65486d
		
		p
			margin-y(15px)
			font-size 16px
			
		a
			font-weight bold
		
	tfoot
		
		td
			padding 10px 5px
			
			p
				margin-y(15px)
				font-size 16px
				
			a
				font-weight bold