.topline-mobile
	position fixed 
	bottom 0 
	left 0 
	display none
	width 100% 
	padding 5px 0 
	border-top 2px solid brand
	background white  
	text-align center
	font-size 10px
	line-height 20px 
	z-index 2000
	
	+below(size-tablet)
		display block
	
	&__wrap
		padding-x(5%)
		
	&__link
		padding 5px
		color brand-2
		
		&:hover,
		&:focus
			text-decoration 
			
	&__close-btn
		display block
		width 100%
		margin-y(5px)
		color main
		font-weight bold
		text-decoration none
		cursor pointer
		
		&:hover,
		&:focus
			text-decoration underline
	
	