//colors
main = #000000 				//dark color
main-dark = #727272			//grey color
main-light = #8a8a8a		//grey color
light = #ffffff				//pure white text color
border = #a1a1a1

bg-dark = #363636



//fonts
font = 'Open Sans Hebrew', serif

//font weight
//regular
//bold


//size
size-hd = 1920px
size-largest = 1400px
size-large = 1100px
size-medium = 900px
size-tablet = 768px
size-mobile = 600px
size-smallest = 480px
