//colors
main = #2b2b2b 				//dark color
brand = #4d235b				//dark purple
brand-2 = #458889			//green
brand-3 =  #a990b1			//light purple
brand-4 = #371f52			//darkest purple



//fonts
font = 'Open Sans Hebrew', serif
font-icon = 'hrafont'
font-special = 'SpecialElite'


//size
size-hd = 1920px
size-largest = 1400px
size-large = 1100px
size-medium = 900px
size-tablet = 768px
size-mobile = 600px
size-smallest = 480px
